[2019-04-06 04:14] ktoso opened #2 "RFC: Introduce means to "destroy"/"remove" metrics objects"
Importing from https://github.com/tomerd/swift-server-metrics-api-proposal/issues/6

Rewritten the rationale in a more formal form, please discuss.

---
# Define a way to "destroy" metrics

- Previous ticket: https://github.com/tomerd/swift-server-metrics-api-proposal/issues/6
- Status: implemented https://github.com/apple/swift-metrics/pull/3 open to adjustments
- For end-users: This is an additi

[2019-04-09 21:06] tomerd opened #5 "overflow"
originally brought up by @weissi

We should think about integer overflows, kinda likely to happen with metrics and you wouldn’t want to crash for metrics.

We could check for them explicitly or use &+ and friends instead of + but that’s only defined behaviour for unsigned ints I think (that’s how it is in C , overflow defined for unsigned and undefined for signed ints).

This is just to remind us

[2019-04-10 09:25] normanmaurer opened #8 "Foundation usage"
As I did not follow the whole discussion around the API I was wondering if we really want to put the requirement that you need to use Foundation:

https://github.com/apple/swift-metrics/blob/0b2fb92ce969b1de438535a3d13c735262e3a8db/Sources/Metrics/Metrics.swift#L17

Wouldn't it be better to make this an implementation detail ?

[2019-04-12 16:42] ddossot commented on #2
## More Prior Art

Micrometer ("SLF4J, but for metrics" sic) has also [added support for removing meters](https://github.com/micrometer-metrics/micrometer/issues/479) in version `1.1.0` (end of last year).

## Actual Use Case

I came across a use case for this recently where a long running JVM us used for running jobs that emit metrics. Not being able to clean up these metrics post execution was a

[2019-04-12 18:19] tomerd commented on #2
fantastic writeup @ktoso <3

/cc @ianpartridge @seabaylea @loganwright @tanner0101 @kjessup @MrLotU @mordil

[2019-04-12 19:07] MrLotU commented on #2
Big fan! Great write @ktoso!

 \
destroy
delete
release was ruled out since it is confusing with ARC release terminology
better ideas?

Personal preference: `destroy`

I'm for 1 generic solution since in my specific case, all metrics inherit from the same protocol and the logic to remove one would be the exact same for all three. Though I can see why separate ones would be preferred.

A possible w

[2019-04-12 21:21] Mordil commented on #2
`markForDeletion`, `markForDestruction`, `markToDelete`, or some other permutation of `mark{}`

For two reasons:
1. It more aptly describes from the API of what this does: It just tells the system the metric object is no longer intended for use. Even the code comments say that it's possible this is a no-op, so the name so give some indication to users _at the call site_ of the behavior.
1. Code co

[2019-04-13 01:41] ktoso commented on #2
Thanks for the additional datapoint @ddossot! I added it to the list.

Thanks for chiming in about the open questions everyone, let's give the thread some time so others can also have a look and I'll sum up and adjust PRs accordingly soon then.

[2019-04-13 21:42] milseman commented on #5
Which is the lesser of evils here? On wrapping, is it worse to have a counter/metric that goes negative/zero than a trap? Could that lead to a loss of data or a more serious security violation?

[2019-04-15 10:08] weissi commented on #5
Wrap would definitely be the lesser evil. Metrics are usually egress only, so the emitting program usually doesn't depend on them at all, it shouldn't have any visible effects on the program itself. So crashing for metrics would be pretty bad I think.

[2019-04-15 10:09] weissi commented on #5
one question is though if we should maybe send the metrics backend a notification 'by the way, this just overflowed' or so

[2019-04-15 10:09] Lukasa commented on #5
Perhaps that notification should log. :wink:

[2019-04-15 10:10] weissi commented on #5
And increase the 'overflow counter metric' haha.

[2019-04-15 17:01] tomerd commented on #5
etoomanydependencies

[2019-04-15 17:03] tomerd commented on #5
joking aside, i guess we should choose between
a. capping at max
b. resetting to zero

i slightly prefer a, since b could throw off percentiles calculations and related alerts in a more significant way

[2019-04-15 20:31] milseman commented on #5
This suggests a saturating add, as @tomerd prefers

[2019-04-16 06:57] ktoso commented on #2
Thank you everyone for chiming in, I worked on this some more to incorporate all feedback and the result is in: https://github.com/apple/swift-metrics/pull/17 (separate PR since the other one keeps causing github to crash with 500 for me... long story, seems it does not believe that repo is a fork).

Please have a look, I think that version addresses all concerns, and with regards to reaching to g

[2019-04-16 11:20] weissi commented on #5
very happy with capping at .max

[2019-04-16 19:37] milseman commented on #5
The theoretical downside of this approach would be in code that assumed that increment always had some observable effect.

[2019-04-16 20:04] MrLotU commented on #5
Agreed, though I'd be impressed if anyone actually hit the max of an Int64. Unless of course for some reason your initial value is `Int64.max - 2` 😄

[2019-04-17 07:59] weissi commented on #5
Well, metrics (just like logging) isn't meant for the application to observe the metrics but rather to _report_ the metrics to elsewhere. In other words, adding/removing metrics code should never have an effect on your app.

[2019-04-19 17:33] #2 closed

[2019-04-19 20:06] tomerd commented on #8
@normanmaurer wdyt?

[2019-04-19 20:30] normanmaurer commented on #8
@tomerd sounds good to me

[2019-04-19 20:30] #8 closed

[2019-04-22 16:48] tomerd commented on #5
closed via #19

[2019-04-22 16:48] #5 closed

[2019-05-20 03:12] ktoso opened #26 "Clarify more visibly in docs intended use SPI/API difference"
### Expected behavior

Users should not be confused about how to use the API.

### Actual behavior

In docs and browsing the code the "init that should not be used" is the first one people encounter -- as it is defined on the classes, e.g.:

[code]

while the one that should be used is only defined later on in an extension:

[code]

We should make this easier to spot and understand.

---

There's

[2019-05-23 23:41] Mordil opened #28 "[Question] Best Practice for Timer w/o Foundation.Date"
While working with `SwiftMetrics` to implement a `Timer` I was left wondering what's the best way to capture the start/end without reaching for `Foundation.Date`?

My first instinct was to use `NIO.TimeAmount` or `NIO.NIODeadline` as they have the semantics I'm after of just grabbing references to `.now()` and finding the difference (and having the proper types for `Timer.recordNanoseconds(_:)` -

[2019-05-24 08:46] ktoso commented on #28
Let's see what @weissi thinks about using NIO's types as time source but personally I don't think it's a bad idea -- `TimeAmount` fitting more than `Deadline` though.

For what it's worth, `let start = DispatchTime.now().uptimeNanoseconds` could also be a good source for this, even though it's UInt64, you could:

(This happens to be the time source I use nowadays, though hidden under some types of

[2019-05-24 08:56] Lukasa commented on #28
My recommendation would be `DispatchTime.now()` in the face of ambiguity, but I don't mind use of NIO's time types either.

[2019-05-24 15:24] weissi commented on #28
+1

[2019-05-24 17:47] Mordil commented on #28
Do we think it'd be worth it to provide a generic overload of `recordNanoseconds` that handles the overflow & default to max logic, very similar to all the other higher slices of time?

Also, isn't there a concern of fatal errors with all of these methods that convert the `BinaryInteger` to `Int64`?

Running this in the Swift REPL triggers a fatal error:
[code]

[2019-05-25 02:21] Mordil commented on #28
I opened two PRs to address what I mentioned in my last comment.

- #29 to cover guarding against `UInt64` to `Int64` conversion overflow
- #30 to cover working with `UInt64` APIs & `Timer.recordNanoseconds`

[2019-05-25 08:23] ktoso commented on #26
Resolved by https://github.com/apple/swift-metrics/pull/27 though will get another follow up PR now

[2019-05-26 06:48] #28 closed

[2019-06-04 20:52] MrLotU opened #32 "Allow for struct MetricHandlers"
Currently, `MetricHandlers` are declared as follows (taking `TimerHandler` as an example here)
[code]
where they conform to `AnyObject` specifying they have to be classes.
The reasoning behind this can be found on the forums:

(https://forums.swift.org/t/metrics/19353/4)

I however, did run into a case where (IMO) it'd be nicer & cleaner to have them be `struct`s.

I'd like to propose the followin

[2019-06-04 21:25] Mordil commented on #32
To facilitate more useful debate - could you share the use case you ran into?

[2019-06-04 21:30] ktoso commented on #32
Right, could you provide the use-case / sample code you have in mind?

[2019-06-04 22:26] MrLotU commented on #32
I definitely can. Will do once back at a machine 😃

[2019-06-05 16:52] MrLotU commented on #32
So, here is the usecase; I'm working on my Prometheus backend, and the way Prometheus works with labels & the way the metrics library does conflicts. Prometheus requires you to have a specific set of label keys set beforehand, whereas the metrics library allows you to pass them in when creating the metric.

Example:
[code]

The reason I would like for the `MetricHandlers` to be structs is because

[2019-06-08 00:37] MrLotU commented on #32
Discussed this issue with @weissi and turns out there is no benefit for using Structs over Classes, so I will close this issue 😃

[2019-06-08 00:37] #32 closed

[2019-07-03 20:39] prafsoni opened #33 "CocoaPod not updated to 1.1.0 release"
Last Pod published was `1.0.0-convergence.1` https://cocoapods.org/pods/SwiftMetrics

[2019-07-04 08:03] weissi commented on #33
whoops, sorry, on it

[2019-07-04 08:36] weissi commented on #33
oops, I don't have permissions to do that:

[code]

over to @tomerd

[2019-07-05 11:02] ktoso opened #34 "Gauge.record() is under-defined"
So I've been using the API a bit, and found an confusing thing:

It is confusing with regards how one should implement `gauge.record()`. An implementation I just reviewed, the prometheus one, implements it by delegating to it's underlying `add` which I think is incorrect, however we don't really provide any guidance about it, so I can see how the author ended up in this:

[code]

Remember also tha

[2019-07-05 11:04] ktoso commented on #34
Paging @tomerd @weissi

[2019-07-05 17:39] tomerd commented on #34
thanks @ktoso, as you suggest, the design for recorder and gauge is set semantics. do you think we should change the method name or improve the docs, or something else?

[2019-07-05 17:50] MrLotU commented on #34
@ktoso @tomerd I would definitely go with additional documentation, though having both `. add() ` and `.set()` or `.record()` also sounds like a great idea. I’ll at least update my prometheus implementation to use `set()` internally now

[2019-07-05 17:55] MrLotU commented on #34
To extend on my previous comment, I think the extending the docs should be an AND kind of thing, so whichever way this goes, adding methods, renaming methods, or something completely different. IMO extending the docs should happen in all those cases.

[2019-07-05 17:58] tomerd commented on #33
@prafsoni done: https://cocoapods.org/pods/SwiftMetrics

thans for reporting!

[2019-07-05 17:58] #33 closed

[2019-07-06 03:31] ktoso commented on #34
- Let's start with docs, to help people implement it the right way. I'll PR an addition there.
- `add` would be a nice addition, but that's a separate topic.

[2019-07-08 02:25] ktoso opened #36 "Should Gauge gain `add` in addition to `record`?"
### Expected behavior

I'd like to use gauges to easily implement a metric of how many things I have alive in my system -- examples could be threads or connections.

[code]

### Actual behavior

Can't implement this like that since we do not offer `add`, we only offer `record`, so I have to implement my own thing which keep the total number and then use that to record into the actual metrics gauge

[2019-07-16 00:54] Yasumoto opened #38 "Allow additional dimensions when recording a value"
### Current behavior
I create a `Counter` to track the total number of requests in my application:

[code]

### Desired Behavior

I'd like to use that in my router to increase the metric on "per-path, per-method, and per-response-code" dimensions:

[code]

Note that this is *heavily* biased toward using 🔥  `Prometheus` with its concept of [labels](https://prometheus.io/docs/practices/naming/#label

[2019-07-16 10:29] ktoso commented on #38
Counters are (relatively) cheap. Why would you avoid creating many of them? Especially for paths, which usually are relatively static?

If you want to get this API to get "look and feel parity with prometheus without using prometheus" you can get there without changing all of the metrics APIs -- by providing an extension func `boringCounter.withLabels(...).increment()` which internally would creat

[2019-07-16 21:00] Yasumoto commented on #38
Yep, thanks for talking through the additional context 🙇‍♂️

I think we're running into the "generic solutions get us some of the way there" but in this case it'd lead to a non-idiomatic solution for a particular backend (Prometheus) which isn't ideal.

I wonder if there's something along the lines of _only_ exporting high-level metrics for core libraries. But if an application bootstraps a specif

[2019-07-16 21:35] t089 commented on #38
Not sure if this is clear, but you can easily use dimensions as labels today. What you are asking for it just a slightly shuffled around syntax, but in the end it really boils down to the same thing. A web framework might emit request count metrics like this eg:

[code]

Isn’t this exactly what you want? Note, that it is not your job as an adopter of swift-metrics to worry about the lifecycle of t

[2019-07-16 22:11] Yasumoto commented on #38
@t089 that might be where my mental block was. Thank you!! I'll follow that path then report back 🎉

[2019-07-16 23:35] ktoso commented on #38
Great example there @t089, thanks for chiming in 👍

There's more ways one could get to the "code shape" you're after, but they all will end up as something like the above.

Please report back if there's more discussion to be had here or if we can close the ticket once you've confirmed on your end if the solution works for you @Yasumoto :)

[2019-07-17 05:32] Yasumoto commented on #38
Yep, this was exactly what I was looking for, thank y'all so much for the help!

I'm wondering if there's value in expanding out the documentation (maybe a "usage guide" ?) to help point folks in this direction, or maybe this existed and I just missed it. If not, happy to have this closed!

[2019-07-17 06:03] Yasumoto commented on #38
Here's where I wound up in case it helps anyone in the future: https://github.com/vapor-community/VaporMonitoring/pull/5

[2019-07-23 18:27] Yasumoto commented on #38
Closing since this is rad. Thanks again, folks!

[2019-07-23 18:27] #38 closed

[2019-07-23 19:18] Yasumoto opened #39 "Timer does not maintain units"
### Expected behavior
When I record a duration taking duration as a certain format, I expect the metric to be exposed in that same unit.

### Actual behavior
As described in https://github.com/MrLotU/SwiftPrometheus/issues/10, I'm looking at unexpected behavior where I'm inputting a duration as `Seconds`, but then the unit is exported as nanoseconds.

I understand why we're storing the value as an

[2019-07-23 19:36] weissi commented on #39
CC @tomerd / @ktoso

[2019-07-23 19:42] tomerd commented on #39
thanks for the note @Yasumoto, as you point out, one could argue this should be done at the "backend" level if it "cares". for example `statsd` does not and always uses milliseconds: https://github.com/b/statsd_spec#timers

would love to hear opinions here

[2019-07-23 19:43] tomerd commented on #39
/cc @ddossot

[2019-07-23 21:23] ddossot commented on #39
We've observed these combinations in generic metrics API:

1. back-end requires times to be reported in a fixed unit
2. back-end is unit-less
  2.1. users want all times to be unified to a single unit
  2.2. users know the units of the different KPIs and interpret them when looking at collected data

Case 1 is easy as the concrete implementation for the back-end knows its unit of choice. For case

[2019-07-30 00:28] tomerd commented on #39
@ktoso wdyt?

[2019-07-30 02:04] Yasumoto commented on #39
@ddosot I think your `2.2` hits the nail on the head for me. In my case, I think I’m observing seconds, and the unit change is surprising as a user.

[2019-07-30 02:38] tomerd commented on #39
we could change the timer handler API to accept units as well, but that would be a breaking change and require a major version release, so we should be careful here

 @ktoso @weissi @mrlotu opinions?

[2019-07-30 02:48] tomerd commented on #39
another way, and maybe what @ddossot is alluding to in `we had to have an optional construction argument on the concrete implementation to allow specifying the conversion unit if any.` is that the metrics backend library offers a way to configure this at the concrete timer constructor, eg `let timer = FooTimer(unit: .seconds)`. another, similar way could be for the backend library to offer configu

[2019-07-30 07:04] weissi commented on #39
So what we _could_ do is that we add a new method to the protocol but provide a default implementation which just removes the units and calls into the old one. Apart from that shim, we'd never call into the old (unit-less) implementation anymore and document it appropriately.

[2019-07-30 17:05] tomerd commented on #39
not sure if it makes sense to capture this at recording time, as its totally legit to use the same timer object to capture in different units. from where i stand, this is more of a question of how the backend reports the measurements. iow  code can capture timing in whatever unit, but people want to define some default for presentation. many backends make that decision on their own based on the sc

[2019-07-30 21:55] #34 closed

[2019-07-30 22:12] tomerd commented on #26
@ktoso do you feel this is now addressed, or needs more work?

[2019-08-06 00:02] ktoso commented on #39
Sorry it took me a while to get around here;

I agree that there may be two "types" of users and/or backends, and while I'd argue the "let backend report however it wants" makes the "more sense" I guess those views are a bit subjective, and various backends have their own styles. While always reporting in most fine grained unit available => no information loss, while reporting in seconds => inform

[2019-08-06 02:01] tomerd commented on #39
@ktoso to rehash, in my experience the recording API should be decoupled from the display. iow. a single timer could be used to record in many units, hence the various flavors of recordXXX API. the very valid question this issue raised is what unit do we use to present in case the backend supports such "setting".

=> the proposal to add a `init (storageUnit: TimeUnit)` could be a solution. the tra

[2019-08-06 02:06] ktoso commented on #39
That's fair and sounds okey. Like the statsd one would ignore and always emit in `ms`. Documentation would say it does not support that as well then I suppose.

I see, I slightly overdid the proposal there then; You're right, silently storing and always delivering to the backend in nanos, but at least the backend was told what "unit it is", so it can render as seconds if it so wanted to (which pro

[2019-08-06 02:17] tomerd commented on #39
@Yasumoto would you like to PR?

[2019-08-06 08:27] MrLotU commented on #39
I think this is the nicest solution you can get. You don't lose precission since values are stored as `ns` and converted later, but a user can still decide themselves if the end data should be seconds, ms, ns or minutes. 😄

[2019-08-06 14:43] ddossot commented on #39
Just so I'm clear what do you guys mean by backend? I my comment, I used the term as the "server side component to which a client sends KPIs" but I feel you use it to mean a particular implementation still in the client side.

The reason I'm asking this is that if the backend-aka-server-side expects a particular time unit on the wire, always delivering as `ns` wouldn't fly.

[2019-08-06 14:51] ktoso commented on #39
Hey, yeah when we say “backend” in this thread it usually refers to “metrics library that is specific to some backend but is not the metrics-api but an implementation there of” if that makes sense. So this project does not actually do anything, it is like slf4j, in the sense that it is only the API. And then there’s metrics library implementations “backends” which actually emit the metrics; be it

[2019-08-07 05:36] Yasumoto commented on #39
Awesome, thanks for digging into this, folks! If I can take a few days I'd be happy to give this a whirl. I'll follow the thread on `Timer(storageUnit: TimeUnit)` and report back!

[2019-08-23 12:36] MrLotU commented on #39
Because I'd like to publish SwiftPrometheus 1.0 sometime soon, I went ahead and created the PR for this so I can solve this issue before my 1.0 release 😄

[2019-08-23 21:08] tomerd commented on #36
@ktoso if you feel strongly about this, it would be good time since we are working on 1.200

[2019-08-24 07:50] ktoso commented on #36
Thanks for reminder! I’ll give it a look on Monday if my workaround is a good general approach or it built in api would be much better :)

[2019-08-26 03:27] ktoso commented on #36
Looking into it 💭

[2019-08-26 07:43] ktoso commented on #36
Spent some time with this expressing some metrics I wanted to capture with "add" and thanks to some great discussion with @yim-lee was able to figure out we can express everything we need by using a positive + negative counter pair;

This is actually quite good, as one can track all those events separately and also get their independent progress as well as post process them nicely (`sum(positive,

[2019-08-26 07:45] #36 closed

[2019-09-09 16:53] #39 closed

[2019-11-10 17:16] MrLotU opened #53 "Export default process & runtime metrics"
From the Prometheus client library spec, `Client libraries SHOULD offer what they can of the Standard exports, documented below.`

Metric name | Help string | Unit
-- | -- | --
process_cpu_seconds_total | Total user and system CPU time spent in seconds. | seconds
process_open_fds | Number of open file descriptors. | file descriptors
process_max_fds | Maximum number of open file descriptors. | file

[2019-12-29 20:53] thecb4 opened #55 "Allow for multiple backends to emit metrics"
### Expected behavior
[code]

Maybe this is too complex, but would be helpful if I want to see console, File, and maybe a remote host of some sort.

This could be done through a protocol conformance

[code]

[2020-02-10 10:58] cpriebe opened #60 "Re-initializing swift-metrics in tests"
### Expected behavior

Right now, there is no way to re-initialize the global swift-metrics configuration. `MetricsSystems.bootstrap` fails if called for a second time. I understand that this is deliberate.

However, this can be a problem when writing tests for an application that uses swift-metrics. Consider three types of tests: (i) Tests that don't care about the metrics backend and run fine wi

[2020-02-10 19:24] tomerd commented on #55
thanks for the idea @thecb4, would `MultiplexMetricsHandler` work in this use case?

[2020-02-10 19:25] tomerd commented on #53
this is a cool idea @MrLotU, would you like to take on proposing an implementation?

[2020-02-10 23:45] ktoso commented on #55
For reference: https://github.com/apple/swift-metrics/blob/f1514a4c74daaa403ddf647935670fd2997c1343/Sources/CoreMetrics/Metrics.swift#L519

I think that addresses the requirement?

[2020-02-10 23:50] ktoso commented on #53
Sounds good, I suppose this could be done as extra module like "SystemMetrics" and added via `MetricsSystem.bootstrapSystemMetrics`, so it's not necessarily part of core?

Another tricky bit is labels -- this keeps coming up to be honest. I.e. one systems like to report like `system.bla.bla`  while in others `.` is illegal... What I do in my libraries where I emit metrics is offering the `segmentS

[2020-02-12 18:48] tomerd commented on #53
I think separate module sounds good. not sure how to exactly tie it into bootstrap, so API ideas would be great to discuss

imo, the restriction logic on labels belong with the collector, not the emitter. iow collectors for backends that are sensitive to certain characters (like Prometheus and dots) should sanitize before sending to the backend. if we put this kind of logic on the generic emission

[2020-02-12 20:19] MrLotU commented on #53
I'll get some work in over the weekend. Excited to see what we can do here 😄

[2020-02-12 21:27] ktoso commented on #53
Hmm, that is a fair point -- we could indeed handle this in the Prom library, by optionally providing some label replacements chars... This way users of apps who _pick_ prom know "i have a lib which does use `.` but I use prometheus, so it should be `_`" or similar. Does indeed sound like the right place to put it... Doing it in my library which should have been agnostic to what backend we emit to

[2020-02-16 14:10] thecb4 commented on #55
To some degree. Maybe I'm missing the thought process. The "Factory" manages how each metric type is created. The "BackEnd" is meant to bring consistency to communication to whoever is observing the Metric. Regardless of it being a Counter, a Gauge, etc. I may only print all of those metrics vs. ship them off to a server backend. I may do both.I may have various factories all shipping to the same

[2020-02-20 17:19] tomerd commented on #55
hey @thecb4 the "Factory" manages how each *backend handler* is created, a backend handler is just a closure per metric type (`CounterHandler`, `RecorderHandler`, etc) that can do something with the metric data, such handlers can print to console, send to http server, etc. pretty much what you describe. the multiplexer then allows you to send the metrics to several handlers in parallel.

see the m

[2020-02-25 06:18] ktoso commented on #26
It's been a while; let's close this as we've not seen confusion/trouble so far.

[2020-02-25 06:18] #26 closed

[2020-02-26 22:36] thecb4 commented on #55
I may be trying to solve for a different problem.
I would only want to implement a Single set of Metrics but send those same metrics to different backends. The above requires me to create a different set of Metrics for each backend. If the backend is only transforming the output of the Metrics, it feels like overkill to create a whole new set of metrics for printing vs. sending to file vs shipping

[2020-02-27 03:11] ktoso commented on #55
That's though exactly what the link above and the Mux enables?Example
[code]

We seem to be talking past each other, can you point out how this is different of what you are aiming for?

[2020-02-27 04:49] thecb4 commented on #55
Sure. From the way it’s written today in the example, TestMetrics implements MetricsFactory. Every backend has to implement MetricsFactory (every backend is a different MetricsFactory).

What I am asking for is a “Backend” that is agnostic of MetricsFactory. I should only implement a single MetricsFactory and the MetricsFactory offload the final step of capturing metrics (console, file, etc) to as

[2020-02-29 01:00] ktoso commented on #55
I'm sorry but I'm really not sure what specific gain there would be from this or why you cannot do it yourself today: implement one metrics factory which accepts many "whatever api you want" and make that one delegate to those -- that addresses your requirement, but I'm still not sure why do it that way.

[2020-02-29 12:05] thecb4 commented on #55
I guess my “why” wasn’t clear. No worries. I did implement this for myself. I may write a blog post about it. I think it’s fairly useful. I can always share that after I post.

[2020-03-05 11:54] weissi opened #66 "Release notes for 2.x should do a better job explaining what happened"
I think the release notes for 2.0.0 should make it more clear what exactly happened. Because swift-metrics is an API package, issuing a new major could easily lead to an ecosystem split which we should really avoid so it's important everybody understands. I filed the following issues with known dependents:

- https://github.com/vapor/postgres-nio/issues/87
- https://github.com/amzn/smoke-aws/issue

[2020-03-05 12:19] weissi commented on #66
CC @tomerd

[2020-03-05 21:40] tomerd commented on #66
thanks @weissi

[2020-03-06 10:04] weissi commented on #66
That’s perfect. Thank you!

[2020-03-06 10:04] #66 closed

[2020-04-11 22:17] heckj opened #68 "github hosted docs have a link to install in dash, but no generated docset"
### Expected behavior

When I was browsing the docs at https://apple.github.io/swift-metrics/docs/current/CoreMetrics/index.html, I noticed a link to install the docs as a docset into Dash. Sounded good for offline reading, so I clicked it - but the processing failed. As I dug in, it became clear that whatever is generating the documentation is not including the docset in what gets sent into gh-pa

[2020-04-13 18:37] Yasumoto commented on #68
Great eyes!

If this gets a 👍, it'll also be worth it for someone in the community to evaluate [other projects](https://github.com/apple/swift-nio/blob/master/scripts/generate_docs.sh#L110) since they'll benefit from the fix too.

[2020-04-13 19:10] heckj commented on #68
It's a simple one-liner, so I went ahead and made a PR for it as well: https://github.com/apple/swift-nio/pull/1478

[2020-05-01 14:02] glbrntt opened #70 "Logging metrics factory"
When adding metrics to an application or framework it would be useful to have some indication of the metrics emitted during execution to serve as a basic sanity check ("when I do this does metric X get emitted?").

Providing a metrics factory which prints to stdout/stderr whenever a value is recorded would be helpful for this case. Is this something we think we should provide in `swift-metrics`?

[2020-05-01 14:44] ktoso commented on #70
Sounds like a useful one -- I have a similar thing in my projects where it can capture the emitted metrics and assertions can be performed on them.

I do agree that it's useful, but I'm also on the side that swift-metrics (and swift-log) should contain no implementations, all backends should be external libs, even if small ones IMHO and these libs are best to remain as little impl and opinionated

[2020-05-01 15:07] MrLotU commented on #70
Fully agree with @ktoso here.

Great idea but probably not best suited to be included in the `swift-metrics` project directly

[2020-05-01 15:35] glbrntt commented on #70
I totally get this and agree it's a slippery slope.

My concern is that putting this in another package would introduce a level of friction that would render it pointless: I wouldn't want to release a framework which depended on it (even if it was only in tests) and I probably wouldn't manually add/remove it from my package manifest whenever I wanted to do a quick sanity check. In all likelihood I

[2020-05-04 15:19] glbrntt commented on #70
@ktoso I was thinking about this a little over the weekend: maybe a more general purpose metrics-testing package could be a home for this.

[2020-05-13 05:58] ktoso commented on #70
Hey there, sorry was offline for the last week.

You mean as separate library but inside this repo, and call it some `EventCaptureTestLogHandler`? (the impl I use for logging I call "LogCapture" I guess, so thinking if the word capturing could make sense for the family of such handlers... the same for metrics/tracing/logging)

I still think it's a slippery slope to add more things here rather than

[2020-05-13 07:50] glbrntt commented on #70
I actually meant in a separate repo :)

[2020-05-13 07:51] ktoso commented on #70
Oh awesome :-) Then I'm super supportive of it.
Others may want to chime in, but sounds great to me.

[2020-05-13 18:54] MrLotU commented on #70
Having a `swift-metrics-tools` kind of repository in the `swift-server` org sounds like a great idea to me.

👍

[2020-05-13 19:47] tomerd commented on #70
sorry for the slow response here, for whatever reasons my email filtered our this thread.

I agree with everything that was said here. I also find myself needing this often in debugging context so would be nice to have a utility to bridge metrics into logs in that context. I also agree that a separate package/repo is the way to go. @glbrntt is this something you want to kick off?

[2020-05-14 08:48] glbrntt commented on #70
Yeah, I'm happy to do that; I'll pitch something to the forums to help shape this.

[2020-05-18 13:42] glbrntt commented on #70
fyi: https://forums.swift.org/t/metrics-extras/36616

[2020-06-17 10:09] weissi commented on #55
@thecb4 / @ktoso can we close this one?

[2020-06-22 05:59] ktoso commented on #55
I think so, It would be nice to see the blog post by @thecb4 - that should explain what specifically he meant there as well.
Are you still up for writing that up @thecb4 ?

[2020-06-23 11:45] thecb4 commented on #55
Appreciate the ask. Yep. I am still up for writing it. will try to have something up by the end of the week.

[2020-06-23 12:55] ktoso commented on #55
awesome, thank you!

[2020-07-01 01:55] thecb4 commented on #55
Took a little longer than I’d hoped. This is the draft of the post.

# Swift-Metrics with Multiple Backends

[Swift Metrics](https://github.com/apple/swift-metrics) is an open-source package written in Swift that provides observability for software products. The idea is that you have a standard way to deploy these metrics to a backend.

[code]

You implement backends by conforming to the MetricsFa

[2020-07-17 08:04] MrLotU opened #73 "Sanity script should check for missing `return` statements"
Since Swift 5.2 (IIRC) you're allowed to omit the `return` statement in single statement functions and getters as such:
[code]

Since we also support versions pre 5.2, the sanity script should check for this and enforce the use of `return` statements everywhere.

### Expected behavior
The sanity script should check and correct missing `return` statements.

### Actual behavior
Sanity script does no

[2020-07-17 08:33] ktoso commented on #73
Hmm... if it's possible to configure swift-format in some way which can catch this that we can enable I think. Do you know if that's possible?

Otherwise I'm not sure about the value/effort ratio; we build on 5.1 as well, so this build would fail on compilation if there's a missing return right?

[2020-07-17 08:39] Lukasa commented on #73
I know that swift-format can _remove_ the return statement on 5.2, so one imagines it can _add_ it in 5.1 mode.

[2020-07-17 09:00] MrLotU commented on #73
Yeah, not at all sure if this is possible, but something that would be helpful if it was. If not, than indeed CI failing on older Swift versions will catch it, but pre-catching things like this is always preferred IMO 😄

[2020-08-20 02:19] ktoso commented on #55
Hello again, sorry for being slow to revisit this.

Thanks for the post, now I understand what you mean. So you suggest having a single "emit" function to be implemented by a backend rather than all metrics one by one. I understand the reasoning behind this but I don't think we'll adopt this architectural change. In the "multibackend" architecture you'd loose information and would need to recover

[2020-09-23 13:36] ktoso opened #76 "API for creating metrics with specific buckets or quantiles"
Some more users often need to pre-configure their metrics with pre-determined bucket sizes (and numbers) or quantiles they want to report. This matters most for metrics which do some form of aggregation client side, like prometheus (e.g. https://github.com/MrLotU/SwiftPrometheus/blob/master/Sources/Prometheus/Prometheus.swift#L210 ).

We should make it possible to use the `SwiftMetrics` API withou

[2020-09-23 13:45] MrLotU commented on #76
Big +1! This would be useful for both `Timer` as well as `Recorder` (Summary and Histogram in Prometheus land)

[2020-09-23 13:46] ktoso commented on #76
Right, sounds good `Recorder` as well 👍

[2020-09-23 20:26] tomerd commented on #76
thanks for bringing this up. what would backends that do not support such feature do with this information?

[2020-09-23 20:27] tomerd commented on #73
+1 to deal with this in swift-format config

[2020-09-23 20:43] avolokhov commented on #76
I'm not sure if it sounds crazy, but I have this thought in mind:
Imagine you want to instrument you, say, http client library with a request payload size histogram.
With the old library, you create a bunch of metrics and feed the data to it.
With a new library you see an api that expects quantiles and histograms. Being a library creator you have 0 knowledge about how this library is going to be u

[2020-09-24 02:53] ktoso opened #77 "Pattern: Document how one might use multiple metrics backends in one process"
It should be possible to use multiple backends in a single process.

We should document how one might want to achieve this.

I think this is the case as I've written tests with concurrent systems against metrics... but will need to double check.

[2020-09-24 03:06] ktoso commented on #76
I think there's really only two ways out, one of them being as Anton suggests.

### Option 1) backends may ignore this information silently

So given the example:

[code]

Say, statsd client would simply ignore it. It directly emits values without aggregating, so the setting has no effect.
Silently ignoring config is a bit meh, but not the end of the world here actually... c'est la vie, backends t

[2020-09-24 04:40] ktoso opened #78 "Allow including baggage in reporting metrics?"
It should be possible to co-relate metrics to a baggage context.

It effectively means adding some baggage items as labels to a metric.

This likely can be done as extensions in some way?

[2020-09-24 04:47] ktoso commented on #76
- OpenTelemetry Metrics do not define ways to configure such details.
  - otel discussions I've found are pretty inconclusive and ignoring such details to be honest.
- APIs like dropwizard metrics don't expose this configuration detail in the metric types.

Alternatively, we could double down and design some form of `Metric(..., configured: ...)` which would allow specific instrumentations to "add

[2020-10-02 07:35] ktoso opened #79 "Additional sugar: Timer.recordInterval(since: DispatchTime, now: DispatchTime = .now())"
Noticed during our work on https://github.com/apple/swift-cluster-membership/pull/70 and other projects this pattern:

[code]

emerges a lot when a message contains "sent at" or something like that, and then reporting metrics becomes `timer.recordInterval(since: message.sentAt)` leaving the user without any having to dance around math with the time amounts

[2020-10-12 02:24] ktoso commented on #79
Yeah this is showing up a lot actually, also here:

[code]

https://github.com/slashmo/swift-tracing-examples/pull/2/files and also heard some feedback from community AFAIR.

[2020-10-12 19:18] #79 closed

[2020-10-13 17:09] tomerd commented on #76
@ktoso did you want to do anything here for 2.1.0, or should we release 2.1.0 sooner?

[2020-10-15 14:06] avolokhov opened #85 "API for setting list of dimensions on `record`, rather than on Metric creation"
Current metrics api only supports setting dimensions on metric creation. I think to fully leverage dimensions and express in code that certain set of metrics report into a same metric label, we need to allow setting dimensions on `record` as well as in constructor. E.g. imagine we're trying to instrument an http server. With custom dimensions we could do something like this:
[code]
We won't have t

[2020-10-16 14:53] MrLotU commented on #85
The idea behind the swift-metrics metric types is that they should be "throw away" types. So create one when you need it, increment it, and then drop it again. In your example this would mean creating the timer inside of the `defer` clause and immediately incrementing it.

[code]

I hope this helps 😄

[2020-10-17 12:32] avolokhov commented on #85
Thanks for the feedback @MrLotU!
I see several downsides to using swift-metrics types as "throw away" types:
1. There's a backend with a registry behind it. Matching an element with one in a registry is a heavy and lock protected operation (registry lookup on a globally shared list/map). With a loaded enough service it can become a bottleneck and may substantially hurt overall performance.
2. Ther

[2020-10-26 11:10] avolokhov commented on #85
cc @ktoso, do you think this API would make sense in context of you swift-cluster-membership instrumentation?

[2020-10-26 12:00] ktoso commented on #85
Yes, sorry I didn't chime in -- your points capture it exactly @avolokhov 👍

Metrics are _not_ to be assumed to be free to keep creating ad hoc every single time exactly because they may hit a registry and touch locks which may become contended then. If possible keeping a metric object around is a good pattern. Of course this depends on specific backends, but in many that's the case (as is the cas

[2020-10-26 14:04] avolokhov commented on #85
So by adding this to the API we'd actually make backend work more difficult - if we allow dimensions on `record` we'll have to do some ad-hoc matching, while in an old implementation MetricType is immutable and can be fully matched against the registry at the creation time. This may make backend impl substantially more difficult (nested map to get everything by label on `init` and then dynamically

[2020-11-14 04:17] ktoso opened #87 "README: add links to metrics extras"
Add links to and nice wording to https://github.com/apple/swift-metrics-extras

[2020-11-17 01:07] #87 closed

[2020-12-14 02:53] rauhul opened #89 "Explicitly set counter values"
swift-metrics doesn't currently provide a `Gauge.record` api for `Counter`s and this probably makes as Counters are supposed to be strictly incrementing. However this behavior doesn't compose if the metric source already accumulates the value.

[code]

Instead you have to use a Gauge to directly set this value. However consumers now see the value as a gauge and not a counter which is the real beha

[2020-12-14 14:24] ktoso commented on #89
Thanks for reporting, I have somewhat mixed feelings about it.

On one hand, a Counter is really defined as being "grow only", so allowing a `record` API means we would probably need to enforce that grown-only nature...

- Should we crash if someone reports 10 and then 1 though? Seems a bit too "intense", for a metrics library.
- Should we just pass through to the underlying library but warn imple

[2021-03-18 04:28] ktoso opened #92 "Should recordInterval live in CoreMetrics?"
I initially said in review that it should be in Metrics:  https://github.com/apple/swift-metrics/pull/83

but maybe that was wrong; it does not depend on foundation but just dispatch hm.

https://github.com/apple/swift-metrics/blob/44e8bfc7f5a0686e21d5d21a7ea5454e74ed3449/Sources/Metrics/Metrics.swift#L42-L44

FYI @tomerd @slashmo

[2021-03-18 18:41] tomerd commented on #92
I think depending on Dispatch in Core is fine, there are a couple of other ones in there that can move too

[2021-05-18 14:05] mengxiangyue opened #95 "There are several copy of the SwiftNIO Locks"
Hello, I find in `swift-log` and `swift-service-lifecycle` also include the copy of `SwiftNIO Locks`, do you think split it to a standalone framework?

[https://github.com/apple/swift-log/blob/main/Sources/Logging/Locks.swift](https://github.com/apple/swift-log/blob/main/Sources/Logging/Locks.swift)
[https://github.com/swift-server/swift-service-lifecycle/blob/main/Sources/Lifecycle/Locks.swift](h

[2021-05-21 22:26] ktoso commented on #95
Hi there,
no, we are not going to make a standalone "locks" library. Copying around is painful, but is better than committing to a library we do not want to support long-term.

With [Swift Concurrency](https://forums.swift.org/t/swift-concurrency-roadmap/41611) just around the corner, we'll be rather embracing those things and Swift Atomics, rather than exposing those lock libs.

Hope that explain

[2021-05-21 22:26] #95 closed

[2021-07-27 18:42] weissi opened #97 "API docs are for version 1.2.1 but we're at 2.x"
API docs are for version 1.2.1 but we're at 2.x

[2021-07-28 17:26] amadeu01 opened #98 "[Question] What is the utility of aggregate?"
I look at the code and tests. However, I couldn't figure out the objective of having `aggregate property.
The only test I found that mention that property was the description one.

https://github.com/apple/swift-metrics/blob/99a068b962176073faec01678d0550db38f6a76d/Tests/MetricsTests/CoreMetricsTests.swift#L395-L410

[2021-08-16 09:49] ktoso commented on #97
Thanks for the ping, Ive set a reminder to look into this.

[2021-09-03 16:30] avolokhov opened #101 "consider changing `Timer`, `Counter`, `Gauge` and `Recorder` to a value type."
Currently `Timer`, `Counter`, `Gauge` and `Recorder` are immutable and don't serve as a storage for corresponding timer/counter etc. data.  They serve only as a bridge to an actual `<metricType>Handler` classes.
Actual backends are only holding a registry of underlying `-Handler` and public API types are only stored in a user code. This likely means that in the usual use case `Timer` and counterpa

[2022-01-18 22:33] ktoso opened #107 "Import TestMetrics from swift-metrics-extras to swift-metrics proper"
Quite some time ago we implemented a testkit for metrics.

It currently is in https://github.com/apple/swift-metrics-extras and it seems to be a good time to graduate it.

[2022-05-03 07:12] #107 closed

[2022-07-19 10:49] ktoso opened #114 "Make use of Swift 5.7 Duration and friends for Timer"
We have time types in 5.7, let's use them in timer convenience APIs

[2022-07-20 08:29] ktoso opened #115 "Move to docc for documentation"
The time is now! Let's move to docc docs

[2022-07-20 09:58] fabianfett opened #117 "Consider a type preserving API"
This is a very raw first draft for a new API proposal.

### Motivation

Swift Metrics API currently follows the same design principles as Swift Logging. The [Server Metrics API forums thread](https://forums.swift.org/t/discussion-server-metrics-api/19600/8) links out to a [PR](https://github.com/tomerd/swift-server-metrics-api-proposal/pull/9/files).

Currently users create new metrics by calling

[2022-07-20 10:43] fabianfett commented on #117
@PeterAdams-A mentioned that `TypePreservingMetricsFactory` should probably not inherit from `MetricsFactory`, but that we should have an internal translation layer... I agree with this and will adjust the proposal later...

[2022-08-24 02:20] #115 closed